In [1]:
import pandas as pd
import numpy as np

clean = pd.read_csv('clean.csv')

In [2]:
clean.head()

   target                                               text
0       0  my pleasant home working morning is being ruin...
1       0   Yes I love them much more than my marscapone ...
2       0                               You will be missed
3       0  Is extremely sad that Spring Break is coming t...
4       0  Hayley is awake amp screaming sick   Ill be in...

In [3]:
number_of_words = clean.text.map(lambda x: len(x.split(' ')))
number_of_words.describe()

count    100000.000000
mean         14.660900
std           6.935909
min           2.000000
25%           9.000000
50%          14.000000
75%          20.000000
max          90.000000
Name: text, dtype: float64

In [4]:
texts = clean.text.values
words = []
for str in texts:
    words += str.lower().split(' ')

unique, counts = np.unique(words, return_counts=True)

print(f'Total number of words: {len(words)}')
print(f'Total number of unique words: {len(unique)}')

Total number of words: 1466090
Total number of unique words: 69731

In [5]:
### Making vocab size equals to unique words is wrong
### Rare words will not make it more effective
times = 5
print(f'Number of words that appears more that {times} times: {np.sum(counts > times)}')

Number of words that appears more that 5 times: 9473